  <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4" style="padding: 10px 10px">
          <div class="icon-box" style="padding: 10px 10px">
              <img src="{{products['position_1'].image}}" width="190px" height="210px">

            <h3><a href="/communications/user/product/view/{{products['position_1'].product_id}}">{{products["position_1"].name}}<br>R24999</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box" style="padding: 10px 10px">
              <img src="{{products['position_2'].image}}" width="190px" height="210px">

            <h3><a href="/communications/user/product/view/{{products['position_2'].product_id}}">{{products["position_2"].name}}<br> R23999</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box" style="padding: 10px 10px">
              <img src="{{products['position_3'].image}}" width="190px" height="210px">

            <h3><a href="/communications/user/product/view/{{products['position_3'].product_id}}">{{products["position_3"].name}}<br>R32999</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box" style="padding: 10px 10px">
              <img src="{{products['position_4'].image}}" width="190px" height="210px">

            <h3><a href="/communications/user/product/view/{{products['position_4'].product_id}}">
              {{products["position_4"].name}}<br> R21000</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box" style="padding: 10px 10px">
              <img src="{{products['position_5'].image}}" width="190px" height="210px">

            <h3><a href="/communications/user/product/view/{{products['position_5'].product_id}}">
              {{products["position_5"].name}}<br> R10099</a></h3>
          </div>
        </div>

      </div>
