  <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <img src="{{products['position_6'].image}}" width="190px" height="210px">

            <h3><a href="/communications/user/product/view/{{products['position_6'].product_id}}">
                {{products["position_6"].name}}<br>R4599</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <img src="{{products['position_7'].image}}" width="190px" height="210px">

            <h3><a href="/communications/user/product/view/{{products['position_7'].product_id}}">
                {{products["position_7"].name}}<br>R9999</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <img src="{{products['position_8'].image}}" width="190px" height="210px">

            <h3><a href="/communications/user/product/view/{{products['position_8'].product_id}}">
                {{products["position_8"].name}}<br>R13500</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <img src="{{products['position_9'].image}}" width="190px" height="210px">

            <h3><a href="/communications/user/product/view/{{products['position_9'].product_id}}">
              {{products["position_9"].name}}<br>R3999</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <img src="{{products['position_10'].image}}" width="190px" height="210px">

            <h3><a href="/communications/user/product/view/{{products['position_10'].product_id}}">
              {{products["position_10"].name}}<br>R1700</a></h3>
          </div>
        </div>

      </div>
