  <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <img src="{{products['position_1'].image}}" width="100px" height="100px">

            <h3><a href="/communications/user/product/view/{{products['position_1'].id}}">{{products["position_1"].name}}</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <img src="{{products['position_2'].image}}" width="100px" height="100px">

            <h3><a href="/communications/user/product/view/{{products['position_2'].id}}">{{products["position_2"].name}}</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <img src="{{products['position_3'].image}}" width="100px" height="100px">

            <h3><a href="/communications/user/product/view/{{products['position_3'].id}}">{{products["position_3"].name}}</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <img src="{{products['position_4'].image}}" width="100px" height="100px">

            <h3><a href="/communications/user/product/view/{{products['position_4'].id}}">
              {{products["position_4"].name}}</a></h3>
          </div>
        </div>
        <div class="col-xl-2 col-md-4">
          <div class="icon-box">
              <img src="{{products['position_5'].image}}" width="100px" height="100px">

            <h3><a href="/communications/user/product/view/{{products['position_5'].id}}">
              {{products["position_5"].name}}</a></h3>
          </div>
        </div>

      </div>
